target/
!target/*-unknown-linux-musl/release/extension
**/bin/
**/obj/
out*/
*.log
Dockerfile*
*.md
.git
.gitignore
docker-compose*
*.template.yaml
*.gcdump
core_*
*.report
*.nettrace
*.speedscope.json
captures/
**/node_modules/
**/dist/
./hey*
