version: "3.3"
services:
  router:
    build:
      context: .
      dockerfile: DockerfileRouter
    ports:
      - 5001:5001
      - 5003:5003
      - 5004:5004
    networks:
      - mynetwork
    environment:
      # Limit spins to save 75% CPU
      # https://github.com/dotnet/runtime/issues/72153#issuecomment-1216363757
      - ROUTER_CALLBACK_HOST=router
      - AWS_LAMBDA_SERVICE_URL=http://host.docker.internal:5051
      - AWS_REGION=us-east-2
      - AWS_ACCESS_KEY_ID=test-access-key-id
      - AWS_SECRET_ACCESS_KEY=test-secret-access-key
      - AWS_SESSION_TOKEN=test-session-token

  extensiondotnet:
    build:
      context: .
      dockerfile: DockerfileExtensionDotNet
    image: lambda-dispatch-extension-dotnet
    restart: no
    entrypoint: ["/bin/sh", "-c", "echo 'exiting'"]

  lambdademoappdotnet:
    depends_on:
      - router
    build:
      context: .
      dockerfile: DockerfileLambdaDemoAppDotNet
    networks:
      - mynetwork
    environment:
      # Limit spins to save 75% CPU
      # https://github.com/dotnet/runtime/issues/72153#issuecomment-1216363757
      - DOTNET_ThreadPool_UnfairSemaphoreSpinLimit=6
      - AWS_LAMBDA_RUNTIME_API=host.docker.internal:5051
      - AWS_REGION=us-east-2
      - AWS_ACCESS_KEY_ID=test-access-key-id
      - AWS_SECRET_ACCESS_KEY=test-secret-access-key
      - AWS_SESSION_TOKEN=test-session-token
      # Pass through AWS_PROFILE if we have one (for the demo-app)
      - AWS_PROFILE
    volumes:
      - ~/.aws:/root/.aws

networks:
  mynetwork:
