version: "3.3"
services:
  router:
    build:
      context: .
      dockerfile: DockerfileRouter
    ports:
      - 5002:5002
      - 5001:5001
      - 5003:5003
    networks:
      - mynetwork
    environment:
      - AWS_LAMBDA_SERVICE_URL=http://host.docker.internal:5051
      - AWS_REGION=us-east-2
      - AWS_ACCESS_KEY_ID=test-access-key-id
      - AWS_SECRET_ACCESS_KEY=test-secret-access-key
      - AWS_SESSION_TOKEN=test-session-token
      - ROUTER_CALLBACK_HOST=router

  lambdalb:
    depends_on:
      - router
    build:
      context: .
      dockerfile: DockerfileLambda
    networks:
      - mynetwork
    environment:
      - AWS_LAMBDA_RUNTIME_API=host.docker.internal:5051
      - AWS_REGION=us-east-2
      - AWS_ACCESS_KEY_ID=test-access-key-id
      - AWS_SECRET_ACCESS_KEY=test-secret-access-key
      - AWS_SESSION_TOKEN=test-session-token

networks:
  mynetwork:
