version: "3.3"
services:
  router:
    image: public.ecr.aws/e4p3x8r3/lambda-dispatch-router:pr-62
    ports:
      - 5002:5002
      - 5001:5001
      - 5003:5003
    networks:
      - mynetwork
    environment:
      # Limit spins to save 75% CPU
      # https://github.com/dotnet/runtime/issues/72153#issuecomment-1216363757
      - DOTNET_ThreadPool_UnfairSemaphoreSpinLimit=6
      - AWS_LAMBDA_SERVICE_URL=http://host.docker.internal:5051
      - AWS_REGION=us-east-2
      - AWS_ACCESS_KEY_ID=test-access-key-id
      - AWS_SECRET_ACCESS_KEY=test-secret-access-key
      - AWS_SESSION_TOKEN=test-session-token
      - ROUTER_CALLBACK_HOST=router

  lambdademoapp:
    depends_on:
      - router
    image: public.ecr.aws/e4p3x8r3/lambda-dispatch-extension:pr-62
    # platform: linux/amd64
    networks:
      - mynetwork
    environment:
      # Limit spins to save 75% CPU
      # https://github.com/dotnet/runtime/issues/72153#issuecomment-1216363757
      - DOTNET_ThreadPool_UnfairSemaphoreSpinLimit=6
      - AWS_LAMBDA_RUNTIME_API=host.docker.internal:5051
      - AWS_REGION=us-east-2
      - AWS_ACCESS_KEY_ID=test-access-key-id
      - AWS_SECRET_ACCESS_KEY=test-secret-access-key
      - AWS_SESSION_TOKEN=test-session-token
      # Pass through AWS_PROFILE if we have one (for the demo-app)
      - AWS_PROFILE
    volumes:
      - ~/.aws:/root/.aws

networks:
  mynetwork:
